# Preparando o dataframe.

## Setup e Bibliotecas

In [2]:
# Importando as bibliotecas  pandas e os. Se necessário usar o comando %pip para instalar.
import pandas as pd
import os

# Criando uma variável como  caminho dos arquivos.
tudo = 'c:/Users/guilh/OneDrive/Área de Trabalho/Coding/Portif_git/Ecomm/dados/'

# Aqui utilizei um loop para buscar cada aqruivo dentro da pasta.
files = [file for file in os.listdir(tudo)]

# Criando um DataFrame vazio para armazenar todos os dados
all_months_data = pd.DataFrame()

# Iterando sobre os arquivos. Nota: Iteração é o processo, em programação, de repetição de uma ou mais ações.
for file in files:
    df = pd.read_csv(tudo + file) # Lê o arquivo CSV
    all_months_data = pd.concat([all_months_data, df]) #concatena ao DataFrame principal

# Salva todos os dados em um único arquivo CSV
all_months_data.to_csv('db.csv', index=False)

# Criando o Dataframe
vendas = './db.csv'
db = pd.read_csv(vendas)

### 2º Parte: Limpeza, tratamento e organização dos dados.

In [3]:
# Uma forma eficiente de mostrar os 5 primeiros objetos.
db.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [9]:
# Verificando a quantidade de NaN no dataframa
db.isna().sum().sum()

0

In [5]:
# Devido aos NaN, não podemos trabalhar os números. O comando .isna e .isnull detecta os errors NaN.
nan_df= db[db.isna().any(axis=1)]

# O comando .dropna(how= 'all') remove todas as linhas que apresenta NaN.
db = db.dropna(how='all')
# Verificando
db.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [6]:
# Verificando o tipo de saída que temos para cada coluna.
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 186305 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 9.9+ MB

In [7]:
# Transformando em números via função "to_numeric"  para cada filtro.
db['Order ID'] = pd.to_numeric(db['Order ID'], errors='coerce')
db['Quantity Ordered'] = pd.to_numeric(db['Quantity Ordered'], errors='coerce')
db['Price Each'] = pd.to_numeric(db['Price Each'], errors='coerce')

# Remover linhas que não contêm datas válidas na coluna "Order Date"
db = db[db['Order Date'] != 'Order Date']

# verificando
db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 185950 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          185950 non-null  float64
 1   Product           185950 non-null  object
 2   Quantity Ordered  185950 non-null  float64
 3   Price Each        185950 non-null  float64
 4   Order Date        185950 non-null  object
 5   Purchase Address  185950 non-null  object
dtypes: float64(3), object(3)
memory usage: 9.9+ MB

In [8]:
# Criando um caminho para salvar o dataframe já tratado.
caminho = 'C:/Users/guilh/OneDrive/Área de Trabalho/Coding/Portif_git/Ecomm/Datasets/db_r.csv' # db_r será o nome do arquivo novo.

# Salve o DataFrame no CSV.
db.to_csv(caminho, index=False)